@using BootzorComponents.Components.Accordion
@using BootzorComponents.Components.Alert
@using BootzorComponents.Components.Dialog
@using BootzorComponents.ZorEnums;
@using static BootzorComponents.Components.Dialog.ZorDialog;

@page "/components/dialog"

<PageTitle>BlazorComponents - Bootzor</PageTitle>
  
<div class="appBootzor">
    <header>
        <BCHeader/>
    </header>
    <div class="appContent responsive"> 
        <BCNSidebar/> 

        <BCArticleSection Title="Accordion">
            <Description>
                <p>Add dialog to show any confirmation box or alert.</p>
                <p><b>&#60;ZorDialog&#62;</b></p>
            </Description>

            <ComponentParameters>
                                
                                          
                <ParameterSection>
                    <Name>ShowModal</Name>
                    <Type>bool</Type>
                    <TypeDescription>true | false</TypeDescription>
                    <Description>
                        <p>Indicates if the modal has to appear.</p>
                    </Description>
                </ParameterSection>            
                
                <ParameterSection>
                    <Name>DialogType</Name>
                    <Type>BZ_Dialog.CollectionDialogTypes</Type>
                    <TypeDescription>Ok | OkCancel | Cancel</TypeDescription>
                    <Description>
                        <p>Indicates the number and type of buttons.</p>
                    </Description>
                </ParameterSection>                  
                
                <ParameterSection>
                    <Name>ResultModal</Name>
                    <Type>EventCallback&#60;bool&#62;</Type>
                    <Description>
                        <p>EventCallback to have the result when press a button cancel or ok.</p>
                    </Description>
                </ParameterSection>   
                
                           
                <ParameterSection>
                    <Name>Overlay</Name>
                    <Type>bool</Type>
                    <TypeDescription>true | false</TypeDescription>
                    <Description>
                        <p>Indicate if the overlay need to appear or not.</p>
                    </Description>
                </ParameterSection>            
                
                           
                <ParameterSection>
                    <Name>Position</Name>
                    <Type>BZ_Dialog.DialogPosition</Type>
                    <TypeDescription>top | TopLeft | TopRight | bottom | BottomLeft | BottomRight | Center</TypeDescription>
                    <Description>
                        <p>Position of the dialog.</p>
                    </Description>
                </ParameterSection>    


            </ComponentParameters>

            <Example>
                &#60;<b>ZorDialog</b> <i>DialogType</i>="DialogPosition.OkCancel"&#62;
                    <i>ResultModal</i>="EventCallback&#60;bool&#62;"
                    <i>Position</i>="DialogPosition.Top"
                    <i>Overlay</i>= 
                    <i>ShowDialog</i> = 
                    <i>Overlay</i>= 

                    &#60;Title&#62;
                        &#60;p&#62;Title&#60;/p&#62;
                    &#60;/Title&#62;
                    
                    &#60;Content&#62;
                        &#60;p&#62;FragmentRender Content&#60;/p&#62;
                    &#60;/Content&#62;

                &#60;/<b>ZorDialog</b>&#62;
            </Example>

            
            <Result>
                <h4>Results with None Effect</h4>
                <button @onclick="@(() => ShowModalWithOverlay(Position.Top, Effect.None, true))" >Dialog Top</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.TopLeft,Effect.None,true))" >Dialog TopLeft</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.TopRight,Effect.None,true))" >Dialog TopRight</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.Bottom,Effect.None,true))" >Dialog Bottom</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.BottomRight,Effect.None,true))" >Dialog BottomRight</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.BottomLeft,Effect.None,true))" >Dialog BottomLeft</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.Center,Effect.None,true))" >Dialog Center</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.Top,Effect.None,false))" >Dialog without owerlay</button>
                
                <h4>Results with Transiction Effect</h4>
                <button @onclick="@(() => ShowModalWithOverlay(Position.Top,Effect.Transition,true))" >Dialog Top</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.TopLeft,Effect.Transition,true))" >Dialog TopLeft</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.TopRight,Effect.Transition,true))" >Dialog TopRight</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.Bottom,Effect.Transition,true))" >Dialog Bottom</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.BottomRight,Effect.Transition,true))" >Dialog BottomRight</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.BottomLeft,Effect.Transition,true))" >Dialog BottomLeft</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.Center,Effect.Transition,true))" >Dialog Center</button>
                <button @onclick="@(() => ShowModalWithOverlay(Position.Top,Effect.Transition,false))" >Dialog without owerlay</button>

                <ZorDialog  @ref="zorDialog"
                    DialogType="DialogTypes.OkCancel"
                    ResultModal="EventResult"
                    DialogPosition=@Position
                    ShowDialog=@ShowDialog
                    Overlay=@ShowOverlay
                    DialogEffect=@DialogEffect>

                    <Title> 
                        Dialog title
                    </Title>
                    
                    <Content>
                        This is the Content! 
                    </Content>

                </ZorDialog>

            </Result>

        </BCArticleSection> 
    </div>
</div>

@code{

    public ZorDialog zorDialog;

    private bool ShowDialog { get; set; } = false;
    private Position Position { get; set; } = Position.Top; 
    private bool ShowOverlay { get; set; }= true;
    private Effect DialogEffect { get; set; } = Effect.Transition;

    public void ShowModalWithOverlay(Position position, Effect effect, bool showOverlay)
    {
        ShowOverlay = showOverlay;
        Position = position;
        ShowDialog = true;
        DialogEffect = effect;
    }

    public void EventResult(bool result)
    {
        ShowDialog = false;
    }
}